datasets==2.16.1
diffusers==0.17.1
transformers==4.48.0
accelerate==1.1.1
wandb==0.16.1
scikit-image==0.22.0
opencv-python==4.9.0.80
git+https://github.com/1adrianb/face-alignment.git
huggingface_hub==0.25.0
numpy<2.0.0