datasets==2.16.1
diffusers==0.34.0
transformers==4.54.0
accelerate==1.9.0
wandb==0.16.1
scikit-image==0.22.0
opencv-python==4.9.0.80
git+https://github.com/1adrianb/face-alignment.git
huggingface_hub==0.34.3
numpy<2.0.0