name: CI security linting

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]
    paths:
      - '.github/**'

permissions: {}

jobs:
  zizmor:
    name: zizmor latest via Cargo
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false
      - name: Install zizmor
        run: cargo install --locked zizmor
      - name: Run zizmor
        run: zizmor .github/workflows
